* {
		margin: 0;
		padding: 0;
		}
	
html {
		font-size: 100%;
		}

body {
		font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
		padding: 20px 0;
		}

h1 {
		font-size: 1.8em;
		}

h2 {
		font-size: 1.4em;
		}

p {
		font-size: 1.2em;
		margin-bottom: 1.5em;
		}

/* ---------- add your code below ---------- */

#wrapper {
		width: 700px;
		margin: 0 auto;
		background: #bbbbbb;
		}
		
#divOne, #divTwo {
		float: left;
		width: 300px;
		}
		
#divOne {
		margin-right: 20px;
		}
		
.clearFix:before,
.clearFix:after {
  content: ""; 
  display: table;
}
.clearFix:after {
  clear:both;
}
	