* {
		margin: 0;
		padding: 0;
		}
	
html {
		font-size: 100%;
		}

body {
		font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
		}

#wrapper {
		font-size: 1.2em;
		line-height: 1.5em;
		}

p {
		margin-bottom: 1.5em;
		}

/* ---------- add your code below ---------- */

body {
		background: #4d4d4d url(page-background.gif) repeat-x;
		}

#wrapper {
		width: 600px;
		margin: 0 auto;
		border: 2px solid #777777;
		border-top: 0;
		background: #ffffff url(wrapper-background.gif) 0 100% repeat-x;
		padding: 20px 20px 50px;
		}

#mainContent {
		float: left;
		width: 380px;
		margin-right: 20px;
		}

#sidebar {
		float: left;
		width: 200px;
		}

.clearFix:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
		}

.boxout {
		width: 180px;
		padding: 0 10px 1px;
		margin: 0 0 20px;
		display: block;
  background-color: #e1e1e1;
       background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#b5b5b5));
       background-image: -webkit-linear-gradient(top, #e1e1e1, #b5b5b5);
       background-image:    -moz-linear-gradient(top, #e1e1e1, #b5b5b5);
       background-image:     -ms-linear-gradient(top, #e1e1e1, #b5b5b5);
       background-image:      -o-linear-gradient(top, #e1e1e1, #b5b5b5);

		}

.boxout h2 {
		background: #d7932a url(boxout-top-orange.gif) no-repeat;
		margin: 0 -10px 10px;
		padding: 5px 10px;
		border-bottom: 1px solid #ffffff;
		font: bold 1.2em Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		color: #ffffff;
		}

.boxout p {
		font-size: 0.9em;
		}
		
.questionsHeader h2 {
		background-color: #d72a49;
        background-image: url(background-icon-questions.gif), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d72a49), to(#dc4561));
       background-image: url(background-icon-questions.gif), -webkit-linear-gradient(top, #d72a49, #dc4561);
       background-image: url(background-icon-questions.gif),    -moz-linear-gradient(top, #d72a49, #dc4561);
       background-image: url(background-icon-questions.gif),     -ms-linear-gradient(top, #d72a49, #dc4561);
       background-image: url(background-icon-questions.gif),     -o-linear-gradient(top, #d72a49, #dc4561);

		}
		
.chatHeader h2 {
		background-color: #2a84d7;
        background-image: url(background-icon-chat.gif), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2a84d7), to(#4594dc));
       background-image: url(background-icon-chat.gif), -webkit-linear-gradient(top, #2a84d7, #4594dc);
       background-image: url(background-icon-chat.gif),    -moz-linear-gradient(top, #2a84d7, #4594dc);
       background-image: url(background-icon-chat.gif),     -ms-linear-gradient(top, #2a84d7, #4594dc);
       background-image: url(background-icon-chat.gif),      -o-linear-gradient(top, #2a84d7, #4594dc);
		}

.toolsHeader h2 {
		background-color: #d72ab0;
        background-image: url(background-icon-tools.gif), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d72ab0), to(#dc45bb));
       background-image: url(background-icon-tools.gif), -webkit-linear-gradient(top, #d72ab0, #dc45bb);
       background-image:    url(background-icon-tools.gif), -moz-linear-gradient(top, #d72ab0, #dc45bb);
       background-image:     url(background-icon-tools.gif), -ms-linear-gradient(top, #d72ab0, #dc45bb);
       background-image:      url(background-icon-tools.gif), -o-linear-gradient(top, #d72ab0, #dc45bb);
		}