/* ----------  page defaults ---------- */

* {
		margin: 0;
		padding: 0;
		}

html {
		font-size: 100%;
		}

body {
		
		background: #cccccc;
		}

.wrapper {
    width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper:before, .wrapper:after {
  display: table;
  content: "";
}
.wrapper:after {
  clear: both;
}


.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.row{
    width: 100%;
}

.row.callout, .row.sellout{
    margin-bottom: 9px;
}

.row.callout h2{
    font-size: 81px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.row.callout p{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.row:before, .row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}

[class*="col"] {
  float: left;
  margin-left: 1.03%;
  margin-right: 1.03%;
}

.onecol{ width: 6.25%; } 
.twocol{ width: 14.58%;   }
.threecol{ width: 22.92%; }
.fourcol{ width: 31.25%; }
.fivecol{ width: 39.58%;  }
.sixcol{ width: 47.92%;  }
.sevencol{ width: 56.25%;  }
.eightcol{ width: 64.58%;  }
.ninecol{ width: 72.92%; }
.tencol{ width: 81.25%; }
.elevencol{ width: 89.58%;  }
.twelvecol{ width: 97.92%; }





