* {
		margin: 0;
		padding: 0;
		}
	
html {
		font-size: 100%;
		}

body {
		font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
		padding: 20px 0;
		}

h1 {
		font-size: 1.8em;
		}

h2 {
		font-size: 1.4em;
		}

p {
		font-size: 1.2em;
		margin-bottom: 1.5em;
		}

/* ---------- add your code below ---------- */

#wrapper {
		width: 700px;
		margin: 0 auto;
		background: url(faux-columns-background.gif) 499px 0 repeat-y;
		vertical-align: top;
		}
		
#mainContent, #sidebar {
        display: table-cell;
		width: 479px;
		}
		
#mainContent {
		margin-right: 41px;
		}
		
#sidebar {
        padding-left: 41px;
		width: 180px;
		font-size: 90%;
		}
		
.clearFix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		}		