* {
		margin: 0;
		padding: 0;
		}
	
html {
		font-size: 100%;
		}

body {
		font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
		}

#wrapper {
		font-size: 1.2em;
		line-height: 1.5em;
		}

p {
		margin-bottom: 1.5em;
		}

/* ---------- add your code below ---------- */

body {
		background: #4d4d4d url(page-background.gif) repeat-x;
		}

#wrapper {
		width: 600px;
		margin: 0 auto;
		border: 2px solid #777777;
		border-top: 0;
		background: #ffffff url(wrapper-background.gif) 0 100% repeat-x;
		padding: 20px 20px 50px;
		}

#mainContent {
		float: left;
		width: 380px;
		margin-right: 20px;
		}

#sidebar {
		float: left;
		width: 200px;
		}

.clearFix:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
		}

.boxout {
		width: 180px;
		padding: 0 10px 1px;
		margin: 0 0 20px;
		display: block;
        background-color: #e1e1e1;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#b5b5b5));
        background-image: -webkit-linear-gradient(top, #e1e1e1, #b5b5b5);
        background-image:    -moz-linear-gradient(top, #e1e1e1, #b5b5b5);
        background-image:     -ms-linear-gradient(top, #e1e1e1, #b5b5b5);
        background-image:      -o-linear-gradient(top, #e1e1e1, #b5b5b5);
		}

.boxout h2 {
		background: #d7932a url(boxout-top-orange.gif) no-repeat;
		margin: 0 -10px 10px;
		padding: 5px 10px;
		border-bottom: 1px solid #ffffff;
		font: bold 1.2em Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		color: #ffffff;
		}

.boxout p {
		font-size: 0.9em;
		}