/* ----------  page defaults ---------- */

* {
		margin: 0;
		padding: 0;
		}

html {
		font-size: 100%;
		}

body {
		font-size: 62.5%;
		background: #cccccc;
		}

#masthead, #columnWrapper, #footer {
		font: 1.1em/1.5 Verdana, Arial, sans-serif;
		}

/* ---------- font styles ---------- */

h1, h2 {
		font: bold 1.5em Arial, sans-serif;
		text-transform: uppercase;
		margin-bottom: 2px;
		}

p {
		margin-bottom: 1em;
		}

/* ---------- structure ---------- */

#masthead {
		background: #dddddd;
		padding: 10px;
		border-bottom: 1px solid #aaaaaa;
		}

#footer {
		background: #cccccc;
		border-top: 1px solid #aaaaaa;
		padding: 10px;
		}

.clearFix:after {
		content: '.';
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		}

/* ---------- add your code below ---------- */

#columnWrapper {
		background: #ebebeb;
		
        background-image: linear-gradient(bottom, rgba(255,255,255,0) 90%, rgba(0,0,0,0.4) 100%);
        background-image: -o-linear-gradient(bottom, rgba(255,255,255,0) 90%, rgba(0,0,0,0.4) 100%);
        background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0) 90%, rgba(0,0,0,0.4) 100%);
        background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 90%, rgba(0,0,0,0.4) 100%);
        background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0) 90%, rgba(0,0,0,0.4) 100%);
        
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.90, rgba(255,255,255,0)),
            color-stop(1, rgba(0,0,0,0.4))
        );
		}

#mainContent {
		background: #ffffff;
		float: left;
		width: 49.9999%;
		margin-left: 30%;
		/*
		background-image: linear-gradient(bottom, rgba(255,255,255,0) 90%, rgba(0,0,0,0.4) 100%);
        background-image: -o-linear-gradient(bottom, rgba(255,255,255,0) 90%, rgba(0,0,0,0.4) 100%);
        background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0) 90%, rgba(0,0,0,0.4) 100%);
        background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 90%, rgba(0,0,0,0.4) 100%);
        background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0) 90%, rgba(0,0,0,0.4) 100%);
        */
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.90, rgb(255,255,255)),
            color-stop(1, rgb(0,0,0))
        );

}
		
#leftSidebar {
		float: left;
		width: 30%;
		margin-left: -79.9999%;
		}
	
#rightSidebar {
		float: left;
		width: 20%;
		}
		
.columnContentWrapper {
		padding: 30px 10px;
		}
		
#mainContent, #leftSidebar, #rightSidebar {
		padding-bottom: 32767px !important;
		margin-bottom: -32767px !important;
		}
		
#columnWrapper {
		overflow: hidden;
		}		
		
		
		