* {
		margin: 0;
		padding: 0;
		}

html {
		font-size: 100%;
		}

body {
		font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
		padding: 20px;
		}

#wrapper {
		font-size: 1.2em;
		line-height: 1.5em;
		}

#masthead {
		background: #cccccc;
		border-top: 1px solid #777777;
		border-bottom: 1px solid #777777;
		margin-bottom: 20px;
		padding: 15px;
		}

nav ul {
		font: bold 1.2em Arial, Helvetica, sans-serif;
		list-style-type: none;
		}

nav li {
		display: inline;
		padding-right: 20px;
		}

h1 {
		font: bold 1.5em/1.0 Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		margin-bottom: 5px;
		}

p {
		margin-bottom: 1.5em;
		}

/* ---------- add your code below ---------- */

#skipLink {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		}

#skipLink a:link, #skipLink a:visited {
		display: block;
		color: #fefefe;
		font: 1.0em Arial, Helvetica, sans-serif;
		padding-top: 5px;
		padding-bottom: 20px;
		}

#skipLink a:hover, #skipLink a:focus {
		color: #000000;
		background: url(skip-navigation-down-arrow.gif) 50% 100% no-repeat;
		}