* {
		margin: 0;
		padding: 0;
		}
	
html {
		font-size: 100%;
		}

body {
		font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
		padding: 20px;
		}
		
.wrapper {
		font: 1.2em/1.5em 'Lucida Grande', 'Lucida Sans Unicode', Lucida, Arial, Helvetica, sans-serif;
		}
		
p {
		margin-bottom: 1.5em;
		}

/* ---------- add your code below ---------- */

.codeList {
		border: 1px solid #aaaaaa;
		}
		
.codeList dt {
		background: #dddddd;
		padding: 7px;
		font-weight: bold;
		border-bottom: 2px solid #ffffff;
		}
		
.codeList li {
		background: #ffffff;
		margin-left: 2.5em;
		}
		
.codeList code {
		background: #eaeaea;
		display: block;
		border-bottom: 2px solid #ffffff;
		border-right: 2px solid #ffffff;
		font : 1.2em "Courier New", Courier, monospace;
		padding: 2px 10px;
		}