* {
		margin: 0;
		padding: 0;
		}

html {
		font-size: 100%;
		}

body {
		padding: 20px;
		font-size: 62.5%;
		}

.wrapper {
		margin: 0 auto;
		width: 400px;
		}

/* ---------- add your code below ---------- */

body {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		line-height: 1.5;
		}
		
h1, h2 {
		font-family: Arial, Helvetica, sans-serif;
		}
		
h1 {
		font-size: 2.5em;
		}
		
h2 {
		font-size: 2em;
		}
		
h3 {
		font-size: 1.2em;
		margin-top: 1.65em;
		}

p {
		font-size: 1.1em;
		margin-bottom: 1.1em;
		}
		
h3, p {
		margin-left: 1em;
		}
		
		