* {
		margin: 0;
		padding: 0;
		}

html {
		font-size: 100%;
		}

body {
		padding: 20px;
		font-size: 62.5%;
		}

.wrapper {
		margin: 0 auto;
		width: 400px;
		}

/* ---------- add your code below ---------- */
